:root {
  --white: #fff;
  --black: #222;
  --grey: #444;
  --grey2: #959595;
  --lightgrey: #c5c3c6;
  --red: #942738;
  --blue: #001d59;
}

@font-face {
  font-family: 'Notera Thin';
  src: URL('./fonts/notera_2/Notera2Thin_PERSONAL.ttf') format('truetype');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
  z-index: -1;
}

li,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 567px) {
  .loader {
    background-size: 20rem;
  }
}

/* Header */

.notifcation {
  line-height: 3rem;
  height: 3rem;
  background-color: var(--red);
  text-align: center;
  color: var(--white);
  font-weight: 500;
}

.navigation {
  padding: 1.6rem 0;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-top {
  display: none;
}

.logo {
  color: var(--black);
  font-family: Raleway;
}

h1 {
  font-family: 'Notera Thin';
  font-size: 45px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1200;
  background-color: var(--white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 0.5rem 0 0.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--black);
  text-transform: uppercase;
  transition: all 500ms ease-in-out;
}

.nav-link::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background: var(--red);
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-icons span:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-icons span {
  font-size: 1.6rem;
  border-radius: 50%;
  border: 1px solid var(--grey);
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.nav-icons span:hover {
  background-color: var(--red);
}

.nav-icons .fas {
  transition: all 300ms ease-in-out;
}

.nav-icons span:hover .fas {
  color: var(--white);
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 996px) {
  .nav-item:not(:last-child) {
    margin-right: 0.3rem;
  }

  .nav-item {
    padding: 0 0.5rem;
  }

  .nav-link {
    font-size: 1.4rem;
  }

  .nav-icons span {
    font-size: 1.2rem;
    padding: 0.3rem 0.7rem;
  }
}

@media only screen and (max-width: 768px) {
  .navigation.show {
    background-color: rgba(24, 23, 23, 0.418);
  }
  .nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100vh;
    z-index: 9990;
    background-color: var(--white);
    transition: all 500ms linear;
  }

  .nav-menu.show {
    left: 0;
  }

  .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 2rem 0;
  }

  .nav-menu .logo h1 {
    font-size: 4rem;
    font-weight: 900;
    color: var(--black);
  }

  .nav-menu .logo h1 span {
    color: var(--white);
  }

  .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightgrey);
    padding: 1.6rem 2rem;
  }

  .hamburger {
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
  }

  .close {
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
  }

  .nav-item {
    width: 100%;
    padding: 0;
  }

  .nav-item:not(:last-child) {
    margin-bottom: 1rem;
  }

  .nav-link {
    font-size: 1.8rem;
    width: 100%;
    padding: 1rem 2rem;
  }

  .nav-icons span {
    display: none;
    border: none;
    font-size: 1.6rem;
  }

  .nav-icons span:last-child {
    display: block;
  }

  body.show::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }
}

/* Hero Image */

.hero {
  min-height: 100vh;
  background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.534),
      rgba(255, 255, 255, 0.253)
    ),
    url(./shopimages/logo.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

/* Main text */

/* Footer */
.footer {
  background-color: var(--black);
  padding: 4rem 1rem;
  line-height: 3rem;
  margin-top: auto;
}

.footer-center span {
  margin-right: 1rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--white);
}

.footer-center a:link,
.footer-center a:visited {
  display: block;
  color: var(--grey2);
  font-size: 1.4rem;
  transition: 0.6s;
}

.footer-center a:hover {
  color: var(--red);
}

.footer-center div {
  color: var(--grey2);
  font-size: 1.4rem;
  font-weight: 300;
}

.footer-center h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 998px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
